.sang-che {
    width: 100%;
    margin-bottom: 10px;
}
.sang-che img {
    width: 100%;
}
.alogIn{margin-top:15px;margin-bottom:20px;padding-top:10px;padding-bottom:10px;text-transform:uppercase;background:url(../images/next.png);background-position:93% 3px;background-repeat:no-repeat;background-color:#ee4935}.alogIn a{font-family:Arial;font-size:18px;color:#fff;padding-left:10px}